{%extends 'base.html' %}

{% block  title %}
All Payed Malfunctions of Parking System
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>All Paid Malfunctions</h1>

    {% if payed_malfunctions|length > 0 %}

   {% for el in payed_malfunctions %}
    <div class="alert alert-info">
        <p>Fix Price <b>{{el.fix_price}}</b></p>
        <p>Description <b>{{el.description}}</b></p>
        <p>Worker ID <b>{{el.user_id}}</b></p>

    </div>
    {%endfor%}

    {% else %}
    <p>No Payed Malfunctions Yet </p>
    {% endif %}
</div>

{% endblock %}