{%extends 'base.html' %}

{% block  title %}
Update Page
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>User Update Page</h1>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form method="post">
        <tr>
            <td>First Name</td>
            <td><input type="text"  name="first_name" id="first_name" value="{{ user.first_name }}" class="form-control" maxlength="100" required></td>
        </tr>
        <tr>

            <td>Last Name</td>
            <td><input type="text"  name="last_name"  maxlength="100" required id="last_name" value="{{ user.last_name }}" class="form-control"></td>
        </tr>
        <tr>

                <td><input type="submit" class="btn btn-success" value="Update"></td>
        </tr>

    </form>
</div>

{% endblock %}